.new{ float:right }
.new a{  margin-left:30px}

.title,.title_top{ text-align:center; 
                     color: #00BFF0 !important;

line-height: 3em;
font-size: 24px;
margin-bottom: 1px;
font-family: inherit;
font-weight: 500;
}
.date{text-align:center;
      line-height: 28px;
margin-bottom: 10px;
margin-top: 10px;
padding-bottom: 10px;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #C4D2E1;
      
      }
.content{ text-indent:2em}      
.m_11 a{ color: #00BFF0 !important;}
.main{  margin-top:40px;}
.m_10{color: #333;
/* background: #f3f3f3; */
padding: 10px 0px;
font-size: 0.9em;
text-transform: uppercase;
font-weight: 100;
position: absolute;
/* top: -48px; */
text-align: center;
left: 390px;
margin: 0;}
.m_10 a{ color: #00BFF0 !important;}

.m_12{color: #333;
/* background: #f3f3f3; */
padding: 10px 0px;
font-size: 0.9em;
text-transform: uppercase;
font-weight: 100;
position: absolute;
/* top: -48px; */
text-align: center;
left: 370px;
margin: 0;}
.m_12 a{ color: #00BFF0 !important;}


/*E9E9E9*/
.newf{
	background:#f3f3f3 ;
	padding:1% 0;
	 padding:0.7% 1% 0.1% 1%;
	  margin-top:40px;
	
}
.ycsp_con{ background:#fff; padding:15px 0 15px; margin-top:10px;}	

.ycsp_con1{ background:#fff; padding:15px 0 15px; margin-top:20px; border:1px solid #eaeaea;}		
.con{ background:f2f2f2}

.contentVI {
border: 1px solid #e5e5e5;
background-color: #f2f2f2;
_height: 501px;
padding: 0px 14px;
padding-bottom: 18px;
 font-size:14px;
 font-family: Arial, Helvetica, sans-serif;
 color:#666;
}

 .contentVI dl dt {
height: 37px;
font-size: 0px;
line-height: 0px;
background: url(../images/bg_sep.gif) repeat-x left bottom;
}
.contentVI dl.tearcherResume dt div {
background-position: 0px 10px;
}
.contentVI dl dt div {
height: 37px;
text-indent: -9999px;
background: url(../images/txt.gif) no-repeat;
}
.tearcherResume dd {
padding-top: 14px;
}
 .tearcherResume .photo {
float: left;
font-size: 0px;
line-height: 0px;

margin: 0px 11px 0px 0px;
display: inline;
}
.tearcherResume .name-resume {
line-height: 20px;
}
.contentVI dl.objectResume dt div {
background-position: 0px -45px;
}
.contentVI dl dt div {
height: 37px;
text-indent: -9999px;
background: url(../images/txt.gif) no-repeat;
}
.objectResume .length-updateTime {
margin-top: 10px;
color: red ;
}
.objectResume .resume {
margin-top: 8px;
line-height: 22px;
letter-spacing:0.05em;
}
.resume{letter-spacing:0.05em; line-height:24px;}




.clearfix {
overflow: hidden;
zoom: 1;
}
.videoListContainer a, .main-playPage .videoList .videoListContainer span.current1 {
float: left;
width: 150px;
height: 70px;
line-height: 20px;
padding: 0px 8px;
margin: 0px 4px;
background: url(../images/bg_videoList-playPage.gif) no-repeat 0px 0px;
overflow: hidden;
}
.videoListContainer a:hover table tr td .name {
color: #4B4B4B;
}



.videoListContainer a table tr td,.main-playPage .videoList .videoListContainer span.current1 table tr td{text-align:center; vertical-align:middle; cursor:pointer; height:70px;}




/*---老师详细css----*/
.contentVIs {

_height: 501px;
padding: 0px 14px;
padding-bottom: 18px;
 font-size:14px;
 font-family: Arial, Helvetica, sans-serif;
 color:#666;
}

 .contentVIs dl dt {
height: 37px;
font-size: 0px;
line-height: 0px;
background: url(../images/bg_sep.gif) repeat-x left bottom;
}
.contentVIs dl.tearcherResume dt div {
background-position: 0px 10px;
}
.contentVIs dl dt div {
height: 37px;
text-indent: -9999px;
background: url(../images/txt.gif) no-repeat;
}

.contentVIs dl.objectResume dt div {
background-position: 0px -45px;
}
.contentVIs dl dt div {
height: 37px;
text-indent: -9999px;
background: url(../images/txt.gif) no-repeat;
}

.xyfc{border: 1px solid #e5e5e5;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fff;
padding:15px 0 0px 0;
}



.span3 {
  width: 220px;
}
.ss{ margin-left:-35px}

.portfolioItems figcaption { background:#f3f3f3; padding:0.5em;   margin:0 4px 0 4px;}

.portfolioItems li figure {
  border-bottom: 5px solid #00bff0 !important;
   
border: 1px solid #e5e5e5;
margin-bottom:15px;
}
.portfolioItems li figure{
  border-bottom: 5px solid #f34343;
}
.portfolioItems li figure h3 a:hover {
  color: #f34343;
}

.portfolioItems  p{ width:200px; font-size:12px;}

.portfolioItems li figure p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  max-height: 36px;
 
}
.portfolioItems li figure:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
}
.portfolioItems li figure h3 {
  overflow: hidden;
 max-height: 22px;
  font-size: 17px;
  width:200px;
}
.portfolioItems li figure h3 a {
  color: #000000;
  
}
.portfolioItems li figure h3 a:hover {
  text-decoration: none;
}

/*报考指南*/
.top_bk{ margin-top:20px;}
.baokao_1{background:#81afbf;}
.baokao_1,.baokao_2{  text-indent:2em; font-size:13px; letter-spacing:0.1em; line-height:2em; 
margin-left: 0px;}
.baokao_3,.baokao_4,.baokao_5,.baokao_6{  padding:0.9em; text-indent:2em; font-size:13px; letter-spacing:0.1em; line-height:2em; margin-bottom:20px;
}
.baokao_1 .baokao_con{ font-family:微软雅黑; padding:1em 0.8em;  }
.btn6{ text-align:center; margin-top:1em;}
.baokao_con span,.baokao_con1 span{ font-weight:600;}

.baokao_con h3,.baokao_con1 h3{text-align:center;font-size:16px;font-weight:600}
.baokao_2{ background:url(../images/j.jpg) no-repeat; }
.baokao_3{background:url(../images/a.jpg) no-repeat }
.baokao_4{background:url(../images/g.jpg) no-repeat; }
.baokao_5{background:url(../images/y.jpg) no-repeat; }
.baokao_6{background:url(../images/c.jpg) no-repeat;}
.baokao_2 .baokao_con1,.baokao_3 .baokao_con{ padding:1.6em;}
.img_3{ margin-top:15px;}
.img_4 img{ margin-top:-155px;width:367px; }
.baokao_con{width:340px;height:220px;}
.baokao_con1{width:340px;height:460px;}
.top-bk{ margin:30px 0 30px; text-align:center}
.cen{ margin-left:-9px;}
.bk_img{ margin-top:-180px;   margin-left:700px;}


.top-jds{ margin:130px 0 30px;}
.jds p{ padding:80px 20px 20px 30px; text-align:left; text-indent:2.1em ; letter-spacing:0.1em;}


/*人才招聘*/

.rczp{ background:url(../images/6.jpg) no-repeat}
.rczp_jop{ text-align:center; margin:50px 0 20px;}
.rczp_t{ color:#fff ; padding:0 150px 20px 150px; text-indent:2.5em; letter-spacing:0.2em; font-size:14px;}
.rczp_t span{ text-align:left;}

.resp-tabs-container{ padding:20px 150px 20px 150px;}
.timetable {
width: 100%;
font-size: 11px;
margin-top: 30px;
background:#fff;
}

.timetable thead{ background:#f3f3f3; line-height:20px; width:100%}
.timetable th, .timetable td {

text-align: center;
padding: 15px;


font-size: 14px;
color: #555;
}

.lx{color:#fff ; text-indent:2.5em; letter-spacing:0.2em; font-size:14px; margin-top:10px;padding:10px 150px 380px 290px; }
.img_jr{padding:10px 150px 0px 150px; margin-top:30px}




.shop_top{ padding:0 200px 0 300px;}
.buttonzc input[type="submit"],.buttonzc input[type="button"] {
background: #00BFF0;
border: none;
color: #FFF;
padding: 10px 20px;
cursor: pointer;

font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
outline: none;
font-size: 1em;
}
